In [1]:
import pandas as pd

male_df = pd.read_csv('male.csv')

In [2]:
male_df.head()

,subjectid,abdominalextensiondepthsitting,acromialheight,acromionradialelength,anklecircumference,axillaheight,balloffootcircumference,balloffootlength,biacromialbreadth,bicepscircumferenceflexed,...,Branch,PrimaryMOS,SubjectsBirthLocation,SubjectNumericRace,Ethnicity,DODRace,Age,Heightin,Weightlbs,WritingPreference
0,10027,266,1467,337,222,1347,253,202,401,369,...,Combat Arms,19D,North Dakota,1,NaN,1,41,71,180,Right hand
1,10032,233,1395,326,220,1293,245,193,394,338,...,Combat Support,68W,New York,1,NaN,1,35,68,160,Left hand
2,10033,287,1430,341,230,1327,256,196,427,408,...,Combat Support,68W,New York,2,NaN,2,42,68,205,Left hand
3,10092,234,1347,310,230,1239,262,199,401,359,...,Combat Service Support,88M,Wisconsin,1,NaN,1,31,66,175,Right hand
4,10093,250,1585,372,247,1478,267,224,435,356,...,Combat Service Support,92G,North Carolina,2,NaN,2,21,77,213,Right hand

In [6]:
male_skimmed = male_df[['subjectid', 'chestcircumference', 'waistcircumference']]
male_skimmed.to_csv('male_skimmed.csv')

In [7]:
male_skimmed_with_size = pd.read_csv('male_skimmed.csv')

In [8]:
male_skimmed_with_size.insert(4, column="size", value="-")

In [9]:
male_skimmed_with_size.head()

   Unnamed: 0  subjectid  chestcircumference  waistcircumference size
0           0      10027                1074                 933    -
1           1      10032                1021                 870    -
2           2      10033                1120                 964    -
3           3      10092                1114                 857    -
4           4      10093                1048                 868    -